* {
    background-color: bisque;
    box-sizing: border-box;
    width: 100%;
    margin: 20px;
    padding: 20px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.nav-bar{
    width: 100px;
    height: 90px;
    background-color: gold;
    color: black;
    border-radius: 10px;
    box-sizing: border-box;
}

.nav-bar:hover{
    width: 110px;
    height: 100px;
    background-color: black;
    color: white;
    border-radius: 20px;
}

#hero-image{
    width: 50%;
    height: 600px;
    margin: 10px;
    float: left;
}

.clear {
    clear: both;
}

#hero-text{
    width: 40%;
    height: 600px;
    margin: 10px;
    float: left;
}